.header,
.posts{
margin: auto;
 max-width: 700px;
}
.posts{
    .post{
        cursor: pointer;
        margin-bottom: 2rem;
        h2{
            font-size:28px;
            font-weight: 700;
            color: var(--heading);
        }
        p{
            font-size:14px;
            font-weight: 400;
            color: var(--body);
            line-height: 3em;
        }
        & > div{
            display: flex;
            flex-direction: row;
            
           span{
            & + span{
                margin-left: 1rem;
            }
            svg{
                margin-right: 0.5rem;
            }

           } 
        }
    }
    button{
         background: transparent;
         color: var(--highlight);
         border: none;
         font-size: 1.125rem;
         font-weight: 600;
         transition: filter 0.2s;

        &:hover{
            filter: brightness(0.8);
        }   
        
    }
}
