.header{
    height: 105px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img{
        cursor: pointer;
        max-width: 14.875rem;
        max-height: 1.625rem;
    }
}

